* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
  font-family: "Inter", sans-serif;
  text-align: center;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

h2 {
  font-family: "Hammersmith One", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

h3 {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  font-weight: 400;
}

.logos {
  display: flex;
  padding: 0 59px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0px;
}

.logo {
  margin-bottom: 20px;
}

.description-title {
  margin-bottom: 20px;
}

.download-title {
  margin: 5px 0px;
}

@media (min-width: 576px) {
  h2 {
    font-size: 28px;
    font-weight: 400;
  }

  .logos {
    margin: 50px 0px;
    justify-content: space-between;
    padding: 0;
  }
}

@media (min-width: 992px) {
  h2 {
    font-size: 36px;
  }

  .description-title,
  .description-content {
    text-align: left;
  }
  .description-content {
    font-size: 20px;
  }

  .logos {
    justify-content: left;
    gap: 30px;
  }
  .logos img {
    width: 100px;
  }
}
